@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan+SC&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f45560;
    transition: 0.5s;
}
body::before
{
    content: '';
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
}
body::after
{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
}
.slider
{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
}
.thumbnail
{
    cursor: pointer;
 border: 2px solid #3335;
 background: #fff2;
 border-radius: 10px;
}
.thumbnail.active
{
    border: 2px solid #333;
    background: #fff6;
}

.thumbnail img
{
    width: 100px;
    scale: 0.75;
    transition: 0.5s;
}
.bigImage
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigImage img
{
    max-height: 50vh;
}
.text
{
    position: absolute;
    top: 50px;
    white-space: nowrap;
    font-size: 12vw;
    font-weight: 700;
    pointer-events: none;
    color: linear-gradient(purple, blue, red);
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.01);
}